# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
client_secret_34196280126-9vd9vtumh88jvgb284n3kcea5j3pfvvn.apps.googleusercontent.com.json
WhatsApp Image 2026-09-05 at 16.34 Background Removed.01.png
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
