node_modules/
dist/
.env
.env.local
client_secret*.json
*googleusercontent*.json
*.log
.superpowers/
/Croft
/docsbuilding-mern-stack-e-commerce-from-lara-croft-html-frontend.json
client_secret_*.json
*.temp
